<section class="hero-album-section">

  <div class="album-background">
    <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Cachorros adorables" class="album-photo photo-1">
    <img src="https://images.pexels.com/photos/14196574/pexels-photo-14196574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Perro gorro amarillo" class="album-photo photo-2">
    <img src="https://images.pexels.com/photos/1165082/pexels-photo-1165082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Perrito blanco" class="album-photo photo-3">
    <img src="https://images.pexels.com/photos/333083/pexels-photo-333083.jpeg" alt="Pastor aleman" class="album-photo photo-4">
    <img src="https://images.pexels.com/photos/1741205/pexels-photo-1741205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="gatito curioso" class="album-photo photo-5">
    <img src="https://images.pexels.com/photos/208773/pexels-photo-208773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="gatito estirandose" class="album-photo photo-6">
  </div>

  <div class="hero-content-center">
    <div class="container text-center">
      <h1 class="display-3 fw-bold">Encuentra a tu Amigo Fiel</h1>
      <p class="lead my-4">Miles de patitas esperan por un hogar lleno de amor. El tuyo podría ser uno de ellos!</p>
      <a href="/acceso" class="btn btn-cta btn-lg px-4 link-opacity-50">Ver Mascotas en Adopción</a>
    </div>
  </div>

</section>