body {
    background-color: #03989e;
    background-attachment: fixed;
}

.barUser {
    background-color: #f9ffff  !important;
}

.barUser a {
    color: #03989e;
}

.colorLogo {
    color: #03989e;
}

.colorBlue {    
    color:#004aad;
}

.fondoGradiente {
    background-image: linear-gradient(#fafcff, #aaccf7, #98f6a0);
    color:#03989e !important;
}

.fondoGradiente2 {
    background-image: linear-gradient(#fafcff, #98f6a0);
    color:#03989e !important;
}

.fondoGradiente3 {
    background-image: linear-gradient(#aaccf7,#fafcff, #98f6a0);
}

.fondoGradiente4 {
    background-image: radial-gradient(#aaccf7,#fafcff, #98f6a0);
}

.letraBold{
    font-weight: bold;
}

.table-header {
    text-align: center; 
    vertical-align: middle;
}

.leaflet-popup-content-wrapper {
    border-radius: 10px;     
    padding: 10px;            
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 245px;
    height: auto; 
    color:#03989e
}

.leaflet-popup-tip {
    background-image: linear-gradient(#aaccf7,#fafcff, #98f6a0); 
}

