<div class="d-flex justify-content-center align-items-center pt-5">
    
    <div class="col-md-8 col-lg-6">

        <div class="login-card-moderno">

            <div class="card-header text-center contacto">
                <h1 class="fw-bold">Envíanos tu mensaje</h1>
                <h6 class="">Nuestro equipo se pondrá en contacto contigo</h6>
            </div>

            <div class="card-body">
                <form action="/negocio/contacto" method="POST">
                    
                    <div class="form-group my-3">
                        <input type="text" id="nombre-apellido" name="nombre-apellido" placeholder="Nombre y apellido" class="form-control" required>
                    </div>
                    
                    <div class="form-group my-3">
                        <input type="email" id="e-mail" name="e-mail" placeholder="E-mail" class="form-control" required>
                    </div>

                    <div class="form-group my-3">
                        <input type="text" id="asunto" name="asunto" placeholder="Asunto" class="form-control" required>
                    </div>

                    <div class="form-group my-3">
                        <textarea name="mensaje" id="mensaje" class="form-control" placeholder="Escribe tu mensaje aquí..." rows="4"></textarea>
                    </div>

                    <div class="form-group d-grid my-3">
                        <button class="btn btn-primary btn-block fw-bold">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>