<div class="container p-4">
<div class="container p-4">
    <h1 class="text-center colorLogo">¿Quiénes somos?</h1>
    <p class="text-center">Somos una organización dedicada al seguimiento y bienestar de los animales que han sido adoptados, asegurándonos de que encuentren un hogar lleno de amor, cuidado y responsabilidad.</p>
    <p class="text-center">Acompañamos a los adoptantes en el proceso de adaptación, brindando apoyo, orientación y recursos para garantizar que cada mascota tenga una vida plena y feliz.</p>
    <p class="text-center">Creemos en la adopción como un acto de compromiso y empatía, promoviendo una comunidad donde humanos y animales convivan en armonía.</p>
    <hr>
    <h1 class="text-center colorLogo">Misión</h1>
    <p class="text-center">Brindar un seguimiento integral y afectuoso a los animales adoptados, asegurando su bienestar y adaptación en su nuevo hogar, y promoviendo la tenencia responsable entre los adoptantes.</p>
    <hr>
    <br>
    <h1 class="text-center colorLogo">Visión</h1>
    <p class="text-center">Ser una referencia en el acompañamiento post-adopción, creando una comunidad comprometida con el respeto y cuidado de los animales, fomentando adopciones responsables y garantizando que cada mascota reciba el amor y la atención que merece.</p>
    <hr>
    <br>
    <h1 class="text-center colorLogo">Valores</h1>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col mb-3 mb-sm-0">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/sostenibilidad.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center colorLogo">Compromiso</h5>
                    <p class="card-text text-center">Velamos por el bienestar de cada animal, asegurándonos de que reciba el cuidado y el cariño adecuados.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/empatia.jpg" class="card-img-top" alt="" style="height: 153px;">
                <div class="card-body">
                    <h5 class="card-title text-center colorLogo">Empatía</h5>
                    <p class="card-text text-center">Entendemos y valoramos la conexión entre humanos y animales, promoviendo un trato respetuoso y amoroso.</p>   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/Compromiso.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center colorLogo">Transparencia</h5>
                    <p class="card-text text-center">Mantenemos una comunicación clara y honesta con adoptantes y colaboradores para garantizar el mejor seguimiento posible.</p>
                </div>
            </div>
        </div>
    </div>
</div>

