<div class="mt-5">
	<div class="contenedor-quienes-somos">
		<section class="seccion-info">
			<h1 class="text-center titulos">驴Qui茅nes somos?</h1>
			<p class="letras">Somos una organizaci贸n dedicada al seguimiento y bienestar de los animales que han sido
				adoptados, asegur谩ndonos de que encuentren un hogar lleno de amor, cuidado y responsabilidad.</p>
			<p class="letras">Acompa帽amos a los adoptantes en el proceso de adaptaci贸n, brindando apoyo, orientaci贸n y
				recursos para garantizar que cada mascota tenga una vida plena y feliz.</p>
			<p class="letras">Creemos en la adopci贸n como un acto de compromiso y empat铆a, promoviendo una comunidad
				donde
				humanos y animales convivan en armon铆a.</p>
		</section>

		<section class="seccion-info">
			<h2 class="text-center titulos">Misi贸n </h2>
			<p class="letras">Brindar un seguimiento integral y afectuoso a los animales adoptados, asegurando su
				bienestar y
				adaptaci贸n en su nuevo hogar, y promoviendo la tenencia responsable entre los adoptantes.</p>
		</section>

		<section class="seccion-info">
			<h2 class="text-center titulos">Visi贸n </h2>
			<p class="letras">Ser una referencia en el acompa帽amiento post-adopci贸n, creando una comunidad comprometida
				con el
				respeto y cuidado de los animales, fomentando adopciones responsables y garantizando que cada mascota
				reciba el
				amor y la atenci贸n que merece.</p>
		</section>

		<section class="seccion-info">
			<h2 class="text-center titulos">Nuestros valores </h2>
		</section>
	</div>

	<div class="container pb-4">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/img/compromiso.jpg" alt="Descripci贸n de la imagen" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Compromiso</h5>
						<p class="card-text">Velamos por el bienestar de cada animal, asegur谩ndonos de que reciba el cuidado
							y
							el cari帽o
							adecuados.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/img/empatia.jpg" alt="Descripci贸n de la imagen" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Empat铆a</h5>
						<p class="card-text">Entendemos y valoramos la conexi贸n entre humanos y animales, promoviendo un
							trato
							respetuoso y amoroso.</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="/img/transparencia.jpg" alt="Descripci贸n de la imagen" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Transparencia</h5>
						<p class="card-text">Mantenemos una comunicaci贸n clara y honesta con adoptantes y colaboradores para
							garantizar
							el mejor seguimiento posible.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>