<div class="container mt-1">
        <div class="container text-center">
            <h2 class="titulos">Mapa de Adopciones</h2>
            <h6 class="subtitulos">Aquí podrás ver todas las adopciones registradas en un mapa.</h6>
        </div>
    <div id="map" style="height: 500px;"></div>
</div>

<script>
    const adoptarMapaData = {{{json adoptarMapa}}};
</script>

<script src="/js/mapa.js"></script>