<div class="row">
        <div class="col-4">
            <a href="/admin/verusuarios" style="text-decoration: none;">                
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="/img/admin-usuarios.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center card-title text-uppercase subtitulosMenu">Usuarios</h5>
                        <p class="card-text text-center">Consulta los usuarios que confian en Siguiendo las patitas.</p>
                    </div>
                </div>  
            </a>
        </div>

        <div class="col-4">
            <a href="/admin/verAdopciones" style="text-decoration: none;">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="/img/admin-adoptantes.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center card-title text-uppercase subtitulosMenu">Adopciones</h5>
                        <p class="card-text text-center">Consulta indicadores de las adopciones.</p>   
                    </div>
                </div>
            </a>
        </div>
    </div>